@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

i {
  color: white;
  font-size: 18px;
  padding: 6px;
}

/* Bootstrap */

.card-img-top {
  height: 14rem;
  width: auto;
  object-fit: cover;
}

.navbar-nav {
  margin-right: 2rem;
}

.navbar-brand {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}

.navbar-brand:hover {
  color: #fff;
}

.nav-link {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  margin: 0 8px;
}

.nav-link:hover {
  color: #fff;
}

/* Home Banner */
#heroHome {
  background-image: url("/imgs/webDevDesk.jpeg");
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.homeBannerText {
  font-weight: 800;
  color: #fff;
  margin: 20%;
  position: absolute;
}

.homeBannerHeader {
  font-size: 50px;
}

.homeBannerSubtitle {
  font-size: 30px;
}

/* Typewriter Cursor */
.txt-type > .txt {
  border-right: 0.1rem solid #444;
}

/* About Me Section */
.aboutHome {
  padding: 24px;
}

.aboutHomeTitle {
  padding: 8px 0;
}

.aboutHomeText {
  padding: 10px 0;
}

.pageLink {
  background-color: #ac2929;
  padding: 8px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

/* Blog Home */

.blogHome {
  text-align: center;
  padding: 6px;
  background-color: #f1f1f1;
}

.blogHomeHeader {
  text-align: center;
  padding: 12px;
}

.cardCol {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

/* Footer */

/* Footer  */
.footer {
  background-color: #2C2C2C;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.footerText {
  margin: 0;
  font-size: 18px;
  padding: 6px;
  text-align: center;
  color: whitesmoke;
  align-items: center;
}
